@import "tailwindcss";

/* Fuentes */
@font-face {
  font-family: "NotoSans";
  src: url("/public/fonts/NotoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansItalic";
  src: url("/public/fonts/NotoSans-Italic.ttf") format("truetype");
}

/* Variables globales */
@theme {
  /* Font sizes */
  --font-clamp: clamp(1rem, 5vw, 3rem);
  --font-sans: NotoSans, sans-serif;
  --font-style-italic: NotoSansItalic, sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Brand colors */
  --color-brand-primary: #137546;
  --color-brand-primary-soft: #b0d3c8;
  --color-brand-secondary: #3a3a3a;
  --color-brand-tertiary: #ecfff6;

  /* Action colors */
  --color-action-primary: #198f3d;
  --color-action-secondary: #ffffff;

  /* Messages colors */
  --color-success-bg: #4ade80;
  --color-error-bg: #ff6163;
  --color-warning-bg: #facc15;
  --color-info-bg: #8cf3fb;
  --color-disabled-bg: #e8e8e8;
  --color-info-s2-bg: #79aeff;
  --color-important-bg: #b192eb;

  /* Font colors */
  --color-success-text: #17aa48;
  --color-error-text: #aa3535;
  --color-warning-text: #cf9546;
  --color-info-text: #00b2bf;
  --color-disabled-text: #a19e9e;
  --color-info2-text: #1f6feb;
  --color-important-text: #8957e5;
  --color-disabled-text-bg: #c6c6c6;
  --color-text-active-primary: #3a3a3a;
  --color-inactive-primary-text: #6d6d6d;
  --color-text-secondary: #08d46e;
  --color-text-tertiary: #ecfff6;

  /* Background Colors */
  --color-primary-bg: #ffffff;
  --color-contrast-primary-bg: #f3f3f3;
  --color-secondary-bg: #123122;
  --color-contrast-secondary-bg: #137546;

  /* Attendance Colors*/
  --color-history-text-bg: #646464;
  --color-history-text-g: #b8b8b8;
  --color-history-g-bg: #f0fdf4;
  --color-history-y-bg: #fcffdc;
  --color-history-r-bg: #fef2f2;
  --color-history-text-g-bg: #98ffbe;
  --color-history-text-r-bg: #ff797b;
}

/* Scrollbar */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 13px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #343434;
    width: 11px;
    border-radius: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
